* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: hsl(225, 100%, 94%);
  background-image: url("../images/pattern-background-desktop.svg");
  background-size: contain;
  background-repeat: repeat-x;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 600px;
  background-color: white;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0px 10px 30px hsla(224, 23%, 55%, 0.4);
}

h1 {
  font-size: 1.5rem;
  color: hsl(223, 47%, 23%);
}
h2 {
  font-size: 1rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.h1 {
  text-align: center;
  margin: 20px auto 30px auto;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto 30px;
}

.price {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  background-color: hsl(225, 100%, 98%);
}

.left_side {
  display: flex;
  flex-direction: row;
}

article p {
  padding: 5px;
  color: hsl(224, 23%, 55%);
}
.price img {
  padding-right: 20px;
}

.change_button {
  font-weight: 700;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}
.proceed_button,
.cancel_button {
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 15px;
  font-weight: 700;
}
.proceed_button {
  background-color: hsl(245, 75%, 52%);
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

.cancel_button {
  color: hsl(224, 23%, 55%);
}

.proceed_button:hover {
  background-color: hsla(245, 75%, 52%, 0.7);
}

.cancel_button:hover {
  color: black;
}

.change_button:hover {
  text-decoration: none;
  color: hsla(245, 75%, 52%, 0.7);
}
